<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjgCpkoD5lfUf8I2lO0Ubg6rk5yqztii4</string>
	<key>GCM_SENDER_ID</key>
	<string>204025874547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Watergames.Watergames</string>
	<key>PROJECT_ID</key>
	<string>watergames-10d57</string>
	<key>STORAGE_BUCKET</key>
	<string>watergames-10d57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204025874547:ios:131c92884ecc55b8408206</string>
</dict>
</plist>